.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
ios/
android/
node_modules/
!node_modules/
node_modules/*
.watchmanconfig
.prettierrc.js
babel.config.js
metro.config.js
yarn.lock
.gitattributes
.flowconfig
.eslintrc.js
.buckconfig
_editorconfig